<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>BeMyPet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="../../assets/icon/bemypet-logo.png" class="logo" ></ion-img>
  <form [formGroup]="reset_passwordForm" >
    <ion-item lines="full">
      <ion-input formControlName="password_1" type="password" required placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input formControlName="password_2" type="password" required placeholder="Nueva contraseña"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="reset_passwordForm.invalid" id="present-alert">Reestablecer</ion-button>
    <ion-alert
      trigger="present-alert"
      header="¿Cambiar contraseña?"
      [buttons]="alertButtons"
      (didDismiss)="reset_password()"
    ></ion-alert>
  </form>
</ion-content>
