<ion-header>
  <ion-toolbar>
    <ion-title>BeMyPet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Refugios</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="heading">
    <h3><span>Equipos y fundaciones</span> de animales 🐈😊🐕</h3>
  </div>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- Fundación Anastasia -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.fundacionanastasia.org" target="_blank">
          <div class="circle">
            <img src="assets/icon/logoAnastasiaFundacion.png" alt="Fundación Anastasia" />
          </div>
        </a>
        <p class="name">Fundación Anastasia</p>
      </ion-col>

      <!-- Fundación Nuevo Comienzo -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.instagram.com/fundacionnuevocomienzodechile?igsh=MTI5YTFzdnpmcDNoNQ==" target="_blank">
          <div class="circle">
            <img src="assets/icon/FundacionNuevoComienzo.png" alt="Fundación Nuevo Comienzo" />
          </div>
        </a>
        <p class="name">Fundación Nuevo Comienzo</p>
      </ion-col>

      <!-- Fundación Aperrando -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.instagram.com/aperrando_sanvicentett/" target="_blank">
          <div class="circle">
            <img src="assets/icon/FundacionAperrando.png" alt="Fundación Aperrando" />
          </div>
        </a>
        <p class="name">Fundación Aperrando</p>
      </ion-col>

      <!-- Adopciones Callejeritos de la Vega -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.instagram.com/callejeritosdlv/" target="_blank">
          <div class="circle">
            <img src="assets/icon/AdopcionesCallejeritos.png" alt="Adopciones Callejeritos de la Vega" />
          </div>
        </a>
        <p class="name">Adopciones Callejeritos de la Vega</p>
      </ion-col>

      <!-- Fundación Rescatando Huellas de Pucón -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.instagram.com/rescatandohuellas.pucon?igsh=cGMxZHFjMWdzOGhv" target="_blank">
          <div class="circle">
            <img src="assets/icon/FundacionRescatandoHuellas.jpg" alt="Fundación Rescatando Huellas de Pucón" />
          </div>
        </a>
        <p class="name">Fundación Rescatando Huellas de Pucón</p>
      </ion-col>

      <!-- Patitas de Amor -->
      <ion-col size="6" size-md="3" class="fundacion">
        <a href="https://www.instagram.com/patitasdeamor7/?igsh=MW13dGx2cW92eDRrYQ%3D%3D#" target="_blank">
          <div class="circle">
            <img src="assets/icon/PatitasdeAmor.png" alt=" Fundacioón Patitas de Amor" />
          </div>
        </a>
        <p class="name"> Fundación Patitas de Amor</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
