

  .circular-icon {
    background-color: white; /* Fondo blanco para el ícono */
    border-radius: 70%; /* Bordes redondeados para el ícono */
    color: #FF9800; /* Color del ícono */
    padding: 4px; /* Espaciado interno para hacer el ícono más pequeño */
  }
  